body {
  background: black;
color: white;

font-family: 'Public Sans', sans-serif;

}

h1 {
  font-size: 40px;
text-transform: uppercase;
color: red;
font-family: 'Bebas Neue', cursive;
margin: 0;
margin-left: 35px;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  margin-left: 40px;
}

.Upcoming {
  display: flex;
}

upcoming-set { 
  margin: 10px;
}

.Upcoming img {
width: 300px;
}

.UpcomingList {
  margin: 10px;
}

#title {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  text-align: center;
  list-style: none;
  justify-content: center;
}

#overview {
  margin-top: 90px;
font-size: 14px;
margin: 10px;
// border: 1px solid white;
// border-radius: 16px;
justify-content: center;
list-style: none;
text-align: center;
}
